@import '../../styles/animations.less';
@import '../../styles/colors.less';

.card {
  border: 1px solid;
  border-color: @grayLight;
  border-radius: 10px;
  padding: 20px;
  max-width: 45rem;
  margin: 0px auto;

  [data-theme='dark'] & {
    border-color: @grayDark;
  }
}

.text {
  font-size: 2rem;
  font-weight: 500;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.skeletonText {
  div {
    background-color: @grayLight;
    height: 1.2rem;
    border-radius: 10px;
    margin-top: 15px;
    animation-name: skeleton;
    .skeleton-animation();

    [data-theme='dark'] & {
      background-color: @grayDark;
    }
  }
}

.divider {
  border: none;
  border-top: 1px solid;
  border-color: @borderLight;
  margin: 20px 0px;

  [data-theme='dark'] & {
    border-color: @borderDark;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.actionsBar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actionSkeleton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100px;
  background-color: @grayLight;
  .skeleton-animation();

  [data-theme='dark'] & {
    background: @grayDark;
  }
}

.buttonSkeleton {
  width: 5rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: @grayLight;
  .skeleton-animation();

  [data-theme='dark'] & {
    background: @grayDark;
  }
}

.actionLabel {
  margin-top: 10px;
  font-size: 0.8rem;
}
