.container {
  padding: 50px 0px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.text {
  font-weight: 500;
  font-size: 1.5rem;
  color: gray;

  .emphasized {
    opacity: 1;
    color: initial;
    font-weight: 600;
  }
}
